<div ng-hide="personalState !== 0" class="tab-pane fade in active">
    <h4 class="head text-center">{{vm.title}}</h4>
    <br/>
    <div class='row'>
        <div class='col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-8'>
            <div class="row">
                <div class='col-xs-12 col-sm-6'>
                    <div class="form-group">
                        <label class="control-label" for="firstname">First Name</label>  
                        <input class="form-control input-md" id="firstname" name="firstname" type="text" placeholder="First Name" ng-model="formData.firstName"></input>
                    </div>
                </div>
                <div class='col-xs-12 col-sm-6'>
                    <div class="form-group">
                        <label class="control-label" for="lastname">Last Name</label>  
                        <input class="form-control input-md" id="lastname" name="lastname" type="text" placeholder="Last Name" ng-model="formData.lastName"></input>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label  class="control-label" for="email"><span id="emailspan" value="0"></span>Email</label>
                <input ng-blur="validateForm()" class="form-control input-md" id="email" name="email" type="text" placeholder="Email" ng-model="formData.email"></input>
            </div>

            <div class="form-group text-center">
                <a ng-click="currentState(1)"  class="btn btn-success btn-outline-rounded btn-info"> Next <span style="margin-left:10px;" class="glyphicon glyphicon-arrow-right"></span></a>
            </div>
        </div>
    </div>
</div>

<div ng-hide="personalState !== 1" class="tab-pane fade in active">
    <h4 class="head text-center">What would you like your password to be?</h4>
    <br/>
    <div class='row'>
        <div class='col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-8'>
            <div class="row">
                <div class='col-xs-12 col-sm-6'>
                    <div class="form-group">
                        <label class="control-label" for="age">Password</label>  
                        <input ng-blur="validateForm()" class="form-control input-md" id="password" name="password" type="password" placeholder="Password" ng-model="formData.password"></input>
                    </div>
                </div>
                <div class='col-xs-12 col-sm-6'>
                    <div class="form-group">
                        <label class="control-label" for="gender">Confirm Password</label>  
                        <input ng-blur="validateForm()" class="form-control input-md" id="passwordVerification" name="passwordVerification" type="password" placeholder="Confirm Password" ng-model="formData.passwordVerification"></input>
                    </div>
                </div>
            </div>
            
            <div class="form-group text-center">
                <a ng-click="currentState(0)" class="btn btn-outline-rounded btn-default"> <span style="margin-right:10px;" class="glyphicon glyphicon-arrow-left"></span> Previous</a>
                <a ng-click="goToNext()" class="btn btn-success btn-outline-rounded btn-info"> Next <span style="margin-left:10px;" class="glyphicon glyphicon-arrow-right"></span></a>
            </div>
        </div>
    </div>
</div>

<div ng-show="hasError" class="alert alert-danger"><span class="center">Error!: {{error}}</span><span class="pull-right" ng-click="hasError = false;">&times;</span></div>
